<a href="https://colab.research.google.com/github/SharviE29/TE-Sem6/blob/main/assignment1_dsdbdal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('bmi.csv')

In [ ]:
data

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [ ]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [ ]:
type(data.head())

pandas.core.frame.DataFrame

In [ ]:
data.tail()

     Gender  Height  Weight  Index
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

In [ ]:
type(data.tail())

pandas.core.frame.DataFrame

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [ ]:
type(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

NoneType

In [ ]:
values= data.isnull()
print(values)

     Gender  Height  Weight  Index
0     False   False   False  False
1     False   False   False  False
2     False   False   False  False
3     False   False   False  False
4     False   False   False  False
..      ...     ...     ...    ...
495   False   False   False  False
496   False   False   False  False
497   False   False   False  False
498   False   False   False  False
499   False   False   False  False

[500 rows x 4 columns]

In [ ]:
type(values)

pandas.core.frame.DataFrame

In [ ]:
print(data.describe())

           Height      Weight       Index
count  500.000000  500.000000  500.000000
mean   169.944000  106.000000    3.748000
std     16.375261   32.382607    1.355053
min    140.000000   50.000000    0.000000
25%    156.000000   80.000000    3.000000
50%    170.500000  106.000000    4.000000
75%    184.000000  136.000000    5.000000
max    199.000000  160.000000    5.000000

In [ ]:
type(data.describe())

pandas.core.frame.DataFrame

In [ ]:
#size of the dataframe

np.shape(data)

(500, 4)

In [ ]:
from sklearn import preprocessing

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
encoded_data=OneHotEncoder()
transformed=encoded_data.fit_transform(data[['Gender']])
print(transformed)

  (0, 1)	1.0
  (1, 1)	1.0
  (2, 0)	1.0
  (3, 0)	1.0
  (4, 1)	1.0
  (5, 1)	1.0
  (6, 1)	1.0
  (7, 1)	1.0
  (8, 1)	1.0
  (9, 0)	1.0
  (10, 1)	1.0
  (11, 0)	1.0
  (12, 0)	1.0
  (13, 1)	1.0
  (14, 1)	1.0
  (15, 0)	1.0
  (16, 0)	1.0
  (17, 1)	1.0
  (18, 1)	1.0
  (19, 1)	1.0
  (20, 1)	1.0
  (21, 0)	1.0
  (22, 0)	1.0
  (23, 1)	1.0
  (24, 0)	1.0
  :	:
  (475, 1)	1.0
  (476, 0)	1.0
  (477, 1)	1.0
  (478, 0)	1.0
  (479, 0)	1.0
  (480, 0)	1.0
  (481, 0)	1.0
  (482, 0)	1.0
  (483, 1)	1.0
  (484, 0)	1.0
  (485, 1)	1.0
  (486, 0)	1.0
  (487, 1)	1.0
  (488, 1)	1.0
  (489, 0)	1.0
  (490, 0)	1.0
  (491, 0)	1.0
  (492, 0)	1.0
  (493, 0)	1.0
  (494, 1)	1.0
  (495, 0)	1.0
  (496, 0)	1.0
  (497, 0)	1.0
  (498, 1)	1.0
  (499, 1)	1.0

In [ ]:
new=preprocessing.LabelEncoder()